<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to {{ site.name }} newsletter</h2>
        <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
     <script async data-uid="bf32b9c89b" src="https://f.convertkit.com/bf32b9c89b/bd3632237b.js"></script> 
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->
